{{#section 'head'}}
{{/section}}

{{#section 'navbar'}}
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span>
                    <!-- <span class="icon-bar"></span>
                     <span class="icon-bar"></span>-->
                    </a>
                    <a class="brand" href="#">Admin Panel</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav pull-right">
			    <li> </li>
                            <li class="dropdown">
                                <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-user"></i> Sumit Arora <i class="caret"></i>

                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a tabindex="-1" href="#">Profile</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a tabindex="-1" href="login.html">Logout</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
{{/section}}

{{#section 'jquery'}}
<script>
$(document).ready(function(){
	$.ajax({
                url : '/ic',
                type : 'POST',
                success: function(data){
			constructinsttable(data);
		},
		error: function(data){
			console.log("There was some error!");
		}
	});
});

function constructinsttable(data)
{
	var html_text = '<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">' +
		'<thead>'+
			'<tr>'+
				'<th>Institute</th>'+
				'<th>Enable/Disable</th>'+
				'<th>Edit Settings</th>'+
				'<th>Regenerate Key/Salt pair</th>'+
				'<th>Delete</th>'+
			'</tr>'+
		'</thead>'+
		'<tbody>';
	for(var i = 0; i < data.data.length; i++)
	{
		html_text += '<tr>';
		html_text += 	'<td>'+data.data[i].instituteName+'</td>';
		html_text += 	'<td>'+(data.data[i].enable ? "Enable" : "Disable")+'</td>';
		html_text +=	'<td><a href="/editsettings?i='+data.data[i].instituteCode+'"><span class="badge badge-info">Edit Settings</span></a></td>';
		html_text +=	'<td class="center"><a href="#"><span class="badge badge-warning">Regenerate Credentials</span></a></td>';
		html_text +=	'<td class="center"><a href="#"><span class="badge badge-important">Delete</span></a></td>';
		html_text += '</tr>';
	}
	html_text += '</tbody>';
	html_text += '</table>';

	document.getElementById("instTable").innerHTML = html_text;

}
	
</script>
{{/section}}

{{#section 'content'}}
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3" id="sidebar">
                    <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
                        <li>
                            <a href="/dashboard"><i class="icon-chevron-right"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="/registerNewInst"><i class="icon-chevron-right"></i> Register A New Institute</a>
                        </li>
                        <li class="active">
                            <a href="/editSettings"><i class="icon-chevron-right"></i> Edit App Settings</a>
                        </li>
                        <li>
                            <a href="/uploadData"><i class="icon-chevron-right"></i> Upload Data for Institutes</a>
                        </li>
			<li>
                            <a href="/users"><i class="icon-chevron-right"></i> Users</a>
                        </li>
                        
                    </ul>
                </div>
                <!--/span-->
                <div class="span9" id="content">

                    <div class="row-fluid">
                        <!-- block -->
                        <div class="block">
                            <div class="navbar navbar-inner block-header">
                                <div class="muted pull-left">Edit App Settings</div>
                            </div>
                            <div class="block-content collapse in">
                                <div class="span12">
                                    <div id="instTable"><center><img src="images/ajax_loader.gif"></center>
					
 					<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
										<thead>
											<tr>
												<th>Institute</th>
												<th>Enable/Disable</th>
												<th>Edit Settings</th>
												<th>Regenerate Key/Salt pair</th>
												<th>Delete</th>
											</tr>
										</thead>
										<tbody>
										</tbody>
					</table>
				</div>	
                                </div>
                            </div>
                        </div>
                        <!-- /block -->
                    </div>
		</div>
            </div>
            <hr>
            <footer>
                <div class="pull-left"><p>&copy; <a href="http://ingeniocity.co">INGENIOCITY</a> 2014</p></div>
                <div class="pull-right"><p><a href="http://ingeniocity.co">www.ingeniocity.co</a> | <a href="mailto:support@ingeniocity.co">support@ingeniocity.co</a></p></div>
            </footer>
        </div>
        <!--/.fluid-container-->
        <script src="vendors/jquery-1.9.1.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>

	<script src="vendors/datatables/js/jquery.dataTables.min.js"></script>


        <script src="assets/scripts.js"></script>
        <script src="assets/DT_bootstrap.js"></script>

        <script>
        $(function() {

        });
        </script>

{{/section}}
