

{{#section 'head'}}
<style>
    #LoadingDiv{
	margin:0px 0px 0px 0px;
	position:fixed;
	height: 100%;
	z-index:9999;
	padding-top:200px;
	padding-left:50px;
	width:100%;
	clear:none;
	background:url(/img/transbg.png);
	/*background-color:#666666;
	border:1px solid #000000;*/
	}
	</style>
{{/section}}

{{#section 'jquery'}}
<script>
$(document).ready(function(){

    $.ajax({
                url : '/es?i={{INSTCODE}}',
                type : 'POST',
                success: function(data){
                        updatefeatures(data);
                },
                error: function(data){
                        console.log("There was some error!");
                }
        });
});

function updatefeatures(data)
{
    console.log("here");
    console.log(data);
    $("#instName").val(data.data[0].instName);
    $("#instCode").val(data.data[0].instCode);
    
    console.log(data.data[0].gAdmissionInfo);
   // $("#gAcademicInfo").prop("checked", data.data[0].gAcademicInfo );
    $("#gAcademicInfo").prop("value", data.data[0].gAcademicInfo);
    $("#gAthletics").prop("value", data.data[0].gAthletics);
    $("#gUniversityEvent").prop("value", data.data[0].gUniversityEvent);
    $("#gGeneralUniversityInfo").prop("value", data.data[0].gSearchCourses);
    $("#gCampusMap").prop("value", data.data[0].gCampusMap);
    $("#gSocialMedia").prop("value", data.data[0].gSocialMedia);
    $("#gAdmissionInfo").prop("value", data.data[0].gAdmissionInfo);
    $("#gRequestForInfo").prop("value", data.data[0].gRequestForInfo);

    $("#sViewClassSchedule").prop("value", data.data[0].sViewClassSchedule);
    $("#sViewEmail").prop("value", data.data[0].sViewEmail);
    $("#sEnrollAddDropSwap").prop("value", data.data[0].sEnrollAddDropSwap);
    $("#sViewHolds").prop("value", data.data[0].sViewHolds);
    $("#sViewToDos").prop("value", data.data[0].sViewToDos);
    $("#sViewCommunication").prop("value", data.data[0].sViewCommunication);
    $("#sViewPayBill").prop("value", data.data[0].sViewPayBill);
    $("#sAcceptDeclineFinancialAid").prop("value", data.data[0].sAcceptDeclineFinancialAid);
    $("#sUpdateBio").prop("value", data.data[0].sUpdateBio);
    $("#sViewGrade").prop("value", data.data[0].sViewGrade);
    $("#sApplyGraduation").prop("value", data.data[0].sApplyGraduation);
    $("#sOfficialTranscript").prop("value", data.data[0].sOfficialTranscript);
    $("#sEnrollmentVerification").prop("value", data.data[0].sEnrollmentVerification);
    $("#sExamSchedule").prop("value", data.data[0].sExamSchedule);

    $("#aMakeDonation").prop("value", data.data[0].aMakeDonation);
    $("#aAlumniEventCalender").prop("value", data.data[0].aAlumniEventCalender);
    $("#aUpdatePersonalInformation").prop("value", data.data[0].aUpdatePersonalInformation);

    $("#fTeachingSchedule").prop("value", data.data[0].fTeachingSchedule);
    $("#fClassRoster").prop("value", data.data[0].fClassRoster);
    $("#fGradeRoster").prop("value", data.data[0].fGradeRoster);
    $("#fGradeToAllStudents").prop("value", data.data[0].fGradeToAllStudents);
    $("#fExamSchedule").prop("value", data.data[0].fExamSchedule);

    $("#eMyPayCheck").prop("value", data.data[0].eMyPayCheck);

    $("#oAdmissionControlCenter").prop("value", data.data[0].oAdmissionControlCenter);
    $("#eMyPayCheck").prop("value", data.data[0].oAdmissionControlCenter);


    var ldiv = document.getElementById("LoadingDiv");
    ldiv.style.display = 'none';
}

</script>
{{/section}}

{{#section 'content'}}

<div id="LoadingDiv" style="display:block;">
		<center><img src="images/ajax_loader.gif" alt="" /></center></div>

<!--<div id="finishWizardModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
   
    <h3 id="finishWizardModal">Key/Salt Pair for App</h3>
  </div>
  <div class="modal-body">
    <p>Key : {{key}}</p>
    <p>Salt : {{salt}}</p>
    <p class="">Please take note of Key and Salt pair. You would need to generate a new pair if you loose it.</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">OK</button>
   
  </div>
</div> -->

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3" id="sidebar">
                    <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
                        <li>
                            <a href="/dashboard"><i class="icon-chevron-right"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="/registerNewInst"><i class="icon-chevron-right"></i> Register A New Institute</a>
                        </li class="active">
                        <li class="active">
                            <a href="/editSettings"><i class="icon-chevron-right"></i> Edit App Settings</a>
                        </li>
                        <li>
                            <a href="/uploadData"><i class="icon-chevron-right"></i> Upload Data for Institutes</a>
                        </li>
			<li>
                            <a href="/users"><i class="icon-chevron-right"></i> Users</a>
                        </li>
                        
                    </ul>
                </div>
                <!--/span-->
                <div class="span9" id="content">
			<!-- wizard -->
                    <div class="row-fluid section">
                         <!-- block -->
                        <div class="block">
                            <div class="navbar navbar-inner block-header">
                                <div class="muted pull-left">Edit App Settings</div>
                            </div>
                            <div class="block-content collapse in">
                                <div class="span12">
                                    <div id="rootwizard">
                                        <div class="navbar">
                                          <div class="navbar-inner">
                                            <div class="container">
                                        <ul>
                                            <li><a href="#tab1" data-toggle="tab">Initials</a></li>
                                            <li><a href="#tab2" data-toggle="tab">Guest Features</a></li>
                                            <li><a href="#tab3" data-toggle="tab">Student Portal</a></li>
                                            <li><a href="#tab4" data-toggle="tab">Alumni Portal </a></li>
                                            <li><a href="#tab5" data-toggle="tab">Faculty Portal</a></li>
                                            <li><a href="#tab6" data-toggle="tab">Employee Portal</a></li>
                                            <li><a href="#tab7" data-toggle="tab">Other Features</a></li>
                                        </ul>
                                         </div>
                                          </div>
                                        </div>
                                        <div id="bar" class="progress progress-striped active">
                                          <div class="bar"></div>
                                        </div>
                                        <form  id="formid" class="form-horizontal">
                                        <fieldset>
                                        <div class="tab-content">
                                        <!-- start div of tabs -->
                                            <div class="tab-pane" id="tab1">
                                               
                                               <!--<form class="form-horizontal">
                                                  <fieldset>-->
                                                    <div class="control-group">
                                                      <label class="control-label" for="instName">Institute Name</label>
                                                      <div class="controls">
                                                        <input class="input-xlarge focused" name="instName" id="instName" type="text" value="" readonly>

                                                      </div>
                                                    </div>
                                                    <div class="control-group">
                                                      <label class="control-label" for="instCode">Institute Code</label>
                                                      <div class="controls">
                                                        <input class="input-xlarge focused" name="instCode" id="instCode" type="text" value="" readonly>
                                                      </div>
                                                    </div>
                                                  <!--</fieldset>
                                                </form>-->
                                                
                                            </div>
                                            <div class="tab-pane" id="tab2">
                                               <!-- <form class="form-horizontal">
                                                  <fieldset>-->
                                                    <div class="control-group">
                                          		        <label class="control-label" for="gAcademicInfo">Academic Info
                                                      </label>
                                          		        <div class="controls">
                                                        <select name="gAcademicInfo"id="gAcademicInfo" class="chzn-select">
                                                          <option value="true">Enable</option>
                                                          <option value="false">Disable</option>
                                                        </select>
                                                      </div>
                                                    </div>
                                                    <div class="control-group">
                                          		        <label class="control-label" for="gAthletics">Athletics
                                                      </label>
                                          		        <div class="controls">
                                                        <select name="gAthletics"id="gAthletics" class="chzn-select">
                                                          <option value="true">Enable</option>
                                                          <option value="false">Disable</option>
                                                        </select>
                                                      </div>
                                        	          </div>
                                                    <div class="control-group">
                                          		        <label class="control-label" for="gUniversityEvent">University Events
                                                      </label>
                                          		        <div class="controls">
                                                        <select name="gUniversityEvent"id="gUniversityEvent" class="chzn-select">
                                                          <option value="true">Enable</option>
                                                          <option value="false">Disable</option>
                                                        </select>
                                                      </div>
                                        	          </div>
						                                        <div class="control-group">
                                          		        <label class="control-label" for="gGeneralUniversityInfo">General University Info
                                                      </label>
                                          		        <div class="controls">
                                                        <select name="gGeneralUniversityInfo"id="gGeneralUniversityInfo" class="chzn-select">
                                                          <option value="true">Enable</option>
                                                          <option value="false">Disable</option>
                                                        </select>
                                                      </div>
                                                    </div>
						                                        <div class="control-group">
                                          		        <label class="control-label" for="gSearchCourses">Search Courses
                                                      </label>
                                                      <div class="controls">
                                                        <select name="gSearchCourses"id="gSearchCourses" class="chzn-select">
                                                          <option value="true">Enable</option>
                                                          <option value="false">Disable</option>
                                                        </select>
                                                      </div>
                                                    </div>
                                                    <div class="control-group">
                                          		        <label class="control-label" for="gCampusMap">Campus Maps
                                                      </label>
                                          		        <div class="controls">
                                                        <select name="gCampusMap"id="gCampusMap" class="chzn-select">
                                                          <option value="true">Enable</option>
                                                          <option value="false">Disable</option>
                                                        </select>
                                                      </div>
                                        	          </div>
                                                    <div class="control-group">
                                          		        <label class="control-label" for="gSocialMedia">Social Media
                                                      </label>
                                          		        <div class="controls">
                                                        <select name="gSocialMedia"id="gSocialMedia" class="chzn-select">
                                                          <option value="true">Enable</option>
                                                          <option value="false">Disable</option>
                                                        </select>
                                                      </div>
                                        	          </div>
                                                    <div class="control-group">
                                          		        <label class="control-label" for="gAdmissionInfo">Admission Info
                                                      </label>
                                          		        <div class="controls">
                                                        <select name="gAdmissionInfo"id="gAdmissionInfo" class="chzn-select">
                                                          <option value="true">Enable</option>
                                                          <option value="false">Disable</option>
                                                        </select>
                                                      </div>
                                        	          </div>
                                                    <div class="control-group">
                                          		        <label class="control-label" for="gRequestForInfo">Request For Info
                                                      </label>
                                          		        <div class="controls">
                                                        <select name="gRequestForInfo"id="gRequestForInfo" class="chzn-select">
                                                          <option value="true">Enable</option>
                                                          <option value="false">Disable</option>
                                                        </select>
                                                      </div>
                                        	          </div>
                                                  <!--</fieldset>
                                                </form>-->
                                              </div>
                                              <div class="tab-pane" id="tab3">
                                                <!--<form class="form-horizontal">
                                                  <fieldset>-->
                                                    <div class="control-group">
                                          		        <label class="control-label" for="sViewClassSchedule">View Class Schedule
                                                      </label>
                                          		        <div class="controls">
                                                        <select name="sViewClassSchedule"id="sViewClassSchedule" class="chzn-select">
                                                          <option value="true">Enable</option>
                                                          <option value="false">Disable</option>
                                                        </select>
                                                      </div>
                                        	          </div>
                                                    <div class="control-group">
                                          		        <label class="control-label" for="sViewEmail">View Email
                                                      </label>
                                          		        <div class="controls">
                                                        <select name="sViewEmail"id="sViewEmail" class="chzn-select">
                                                          <option value="true">Enable</option>
                                                          <option value="false">Disable</option>
                                                        </select>
                                                      </div>
                                        	          </div>
                                                    <div class="control-group">
                                          		        <label class="control-label" for="sEnrollAddDropSwap">Enroll Add-Drop-Swap Class
                                                      </label>
                                          		        <div class="controls">
                                                        <select name="sEnrollAddDropSwap"id="sEnrollAddDropSwap" class="chzn-select">
                                                          <option value="true">Enable</option>
                                                          <option value="false">Disable</option>
                                                        </select>
                                                      </div>
                                        	          </div>
						                                        <div class="control-group">
                                          		        <label class="control-label" for="sViewHolds">View Holds
                                                      </label>
                                          		        <div class="controls">
                                                        <select name="sViewHolds"id="sViewHolds" class="chzn-select">
                                                          <option value="true">Enable</option>
                                                          <option value="false">Disable</option>
                                                        </select>
                                                      </div>
                                        	          </div>
                                                  <div class="control-group">
                                                    <label class="control-label" for="sViewToDos">View ToDos
                                                    </label>
                                                    <div class="controls">
                                                      <select name="sViewToDos"id="sViewToDos" class="chzn-select">
                                                        <option value="true">Enable</option>
                                                        <option value="false">Disable</option>
                                                      </select>
                                                    </div>
                                                  </div>
                                                  <div class="control-group">
                                                    <label class="control-label" for="sViewCommunication">View Communication
                                                    </label>
                                                    <div class="controls">
                                                      <select name="sViewCommunication"id="sViewCommunication" class="chzn-select">
                                                        <option value="true">Enable</option>
                                                        <option value="false">Disable</option>
                                                      </select>
                                                    </div>
                                                  </div>
                                                  <div class="control-group">
                                                    <label class="control-label" for="sViewPayBill">View Pay Bill
                                                    </label>
                                                    <div class="controls">
                                                      <select name="sViewPayBill"id="sViewPayBill" class="chzn-select">
                                                        <option value="true">Enable</option>
                                                        <option value="false">Disable</option>
                                                      </select>
                                                    </div>
                                                  </div>
                                                  <div class="control-group">
                                                    <label class="control-label" for="sAcceptDeclineFinancialAid">Accept Decline Financial Aid
                                                    </label>
                                                    <div class="controls">
                                                      <select name="sAcceptDeclineFinancialAid"id="sAcceptDeclineFinancialAid" class="chzn-select">
                                                        <option value="true">Enable</option>
                                                        <option value="false">Disable</option>
                                                      </select>
                                                    </div>
                                                  </div>
                                                  <div class="control-group">
                                                    <label class="control-label" for="sUpdateBio">Update Bio
                                                    </label>
                                                    <div class="controls">
                                                      <select name="sUpdateBio"id="sUpdateBio" class="chzn-select">
                                                        <option value="true">Enable</option>
                                                        <option value="false">Disable</option>
                                                      </select>
                                                    </div>
                                                  </div>
                                                  <div class="control-group">
                                                    <label class="control-label" for="sViewGrade">View Grade
                                                    </label>
                                                    <div class="controls">
                                                      <select name="sViewGrade"id="sViewGrade" class="chzn-select">
                                                        <option value="true">Enable</option>
                                                        <option value="false">Disable</option>
                                                      </select>
                                                    </div>
                                                  </div>
                                                  <div class="control-group">
                                                    <label class="control-label" for="sApplyGraduation">Apply Graduation
                                                    </label>
                                                    <div class="controls">
                                                      <select name="sApplyGraduation"id="sApplyGraduation" class="chzn-select">
                                                        <option value="true">Enable</option>
                                                        <option value="false">Disable</option>
                                                      </select>
                                                    </div>
                                                  </div>
                                                  <div class="control-group">
                                                    <label class="control-label" for="sOfficialTranscript">Official Transcript
                                                    </label>
                                                    <div class="controls">
                                                      <select name="sOfficialTranscript"id="sOfficialTranscript" class="chzn-select">
                                                        <option value="true">Enable</option>
                                                        <option value="false">Disable</option>
                                                      </select>
                                                    </div>
                                                  </div>
                                                  <div class="control-group">
                                                    <label class="control-label" for="sEnrollmentVerification">Enrollment Verification
                                                    </label>
                                                    <div class="controls">
                                                      <select name="sEnrollmentVerification"id="sEnrollmentVerification" class="chzn-select">
                                                        <option value="true">Enable</option>
                                                        <option value="false">Disable</option>
                                                      </select>
                                                    </div>
                                                  </div>
						                                      <div class="control-group">
                                          		      <label class="control-label" for="sExamSchedule">Exam Schedule
                                                    </label>
                                          		      <div class="controls">
                                                      <select name="sExamSchedule"id="sExamSchedule" class="chzn-select">
                                                        <option value="true">Enable</option>
                                                        <option value="false">Disable</option>
                                                      </select>
                                                    </div>
                                        	        </div>
                                                <!--</fieldset>
                                              </form>-->
                                            </div>
					                                  <div class="tab-pane" id="tab4">
                                             <!-- <form class="form-horizontal">
                                                <fieldset>-->
                                                  <div class="control-group">
                                          		      <label class="control-label" for="aMakeDonation">Make Donation
                                                    </label>
                                          		      <div class="controls">
                                                      <select name="aMakeDonation"id="aMakeDonation" class="chzn-select">
                                                        <option value="true">Enable</option>
                                                        <option value="false">Disable</option>
                                                      </select>
                                                    </div>
                                        	        </div>
                                                  <div class="control-group">
                                          		      <label class="control-label" for="aAlumniEventCalender">Alumni Event Calender
                                                    </label>
                                          		      <div class="controls">
                                                      <select name="aAlumniEventCalender"id="aAlumniEventCalender" class="chzn-select">
                                                        <option value="true">Enable</option>
                                                        <option value="false">Disable</option>
                                                      </select>
                                                    </div>
                                          		    </div>
                                                  <div class="control-group">
                                          		      <label class="control-label" for="aUpdatePersonalInformation">Update Personal Information
                                                    </label>
                                          		      <div class="controls">
                                                      <select name="aUpdatePersonalInformation"id="aUpdatePersonalInformation" class="chzn-select">
                                                        <option value="true">Enable</option>
                                                        <option value="false">Disable</option>
                                                      </select>
                                                    </div>
                                        	        </div>
                                                <!--</fieldset>
                                              </form>-->
                                            </div>
					                                 <div class="tab-pane" id="tab5">
                                               <!-- <form class="form-horizontal">
                                                  <fieldset>-->
                                                    <div class="control-group">
                                          		        <label class="control-label" for="fTeachingSchedule">Teaching Schedule
                                                      </label>
                                          		        <div class="controls">
                                                        <select name="fTeachingSchedule"id="fTeachingSchedule" class="chzn-select">
                                                          <option value="true">Enable</option>
                                                          <option value="false">Disable</option>
                                                        </select>
                                                      </div>
                                        	          </div>
                                                    <div class="control-group">
                                          		        <label class="control-label" for="fClassRoster">Class Roster
                                                      </label>
                                          		        <div class="controls">
                                                        <select name="fClassRoster"id="fClassRoster" class="chzn-select">
                                                          <option value="true">Enable</option>
                                                          <option value="false">Disable</option>
                                                        </select>
                                                      </div>
                                        	          </div>
                                                    <div class="control-group">
                                          		        <label class="control-label" for="fGradeRoster">Grade Roster
                                                      </label>
                                          		       <div class="controls">
                                                        <select name="fGradeRoster"id="fGradeRoster" class="chzn-select">
                                                          <option value="true">Enable</option>
                                                          <option value="false">Disable</option>
                                                        </select>
                                                      </div>
                                        	          </div>
						                                        <div class="control-group">
                                          		        <label class="control-label" for="fGradeToAllStudents">Grade To All Students
                                                      </label>
                                          		        <div class="controls">
                                                        <select name="fGradeToAllStudents"id="fGradeToAllStudents" class="chzn-select">
                                                          <option value="true">Enable</option>
                                                          <option value="false">Disable</option>
                                                        </select>
                                                      </div>
                                        	          </div>
						                                        <div class="control-group">
                                          		        <label class="control-label" for="fExamSchedule">Exam Schedule
                                                      </label>
                                          		        <div class="controls">
                                                        <select name="fExamSchedule"id="fExamSchedule" class="chzn-select">
                                                          <option value="true">Enable</option>
                                                          <option value="false">Disable</option>
                                                        </select>
                                                      </div>
                                        	          </div>
                                                  <!--</fieldset>
                                                </form>-->
                                              </div>
					                                   <div class="tab-pane" id="tab6">
                                                <!--<form class="form-horizontal">
                                                  <fieldset>-->
                                                    <div class="control-group">
                                          		        <label class="control-label" for="eMyPayCheck">Pay Check
                                                      </label>
                                          		        <div class="controls">
                                                        <select name="eMyPayCheck"id="eMyPayCheck" class="chzn-select">
                                                          <option value="true">Enable</option>
                                                          <option value="false">Disable</option>
                                                        </select>
                                                      </div>
                                        	          </div>
                                                  <!--</fieldset>
                                                </form>-->
                                              </div>
                                              <div class="tab-pane" id="tab7">
                                               <!-- <form class="form-horizontal">
                                                  <fieldset>-->
                                                    <div class="control-group">
                                                      <label class="control-label" for="oAdmissionControlCenter">Admission Control Center
                                                      </label>
                                                      <div class="controls">
                                                        <select name="oAdmissionControlCenter"id="oAdmissionControlCenter" class="chzn-select">
                                                          <option value="true">Enable</option>
                                                          <option value="false">Disable</option>
                                                        </select>
                                                      </div>
                                                    </div>
                                                    <div class="control-group">
                                                      <label class="control-label" for="oAuthenticationSetup">Authentication Setup
                                                      </label>
                                                      <div class="controls">
                                                        <select name="oAuthenticationSetup"id="oAuthenticationSetup" class="chzn-select">
                                                          <option value="true">Enable</option>
                                                          <option value="false">Disable</option>
                                                        </select>
                                                      </div>
                                                    </div>
                                                  <!--</fieldset>
                                                </form>-->
                                             <!-- finish all tabs --> 
                                            </div>
                                            </fieldset>
                                            </form>
                                            <ul class="pager wizard">
                                                <li class="previous first" style="display:none;"><a href="javascript:void(0);">First</a></li>
                                                <li class="previous"><a href="javascript:void(0);">Previous</a></li>
                                                <li class="next last" style="display:none;"><a href="javascript:void(0);">Last</a></li>
                                                <li class="next"><a href="javascript:void(0);">Next</a></li>
                                                <li class="next finish" style="display:none;"><a href="#finishWizardModal">Finish</a></li>
                                            </ul>
                                        </div>  
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /block -->
                    </div>
	            <!-- /wizard -->

                </div>
            </div>
            <hr>

            <footer>
                <div class="pull-left"><p>&copy; <a href="http://ingeniocity.co">INGENIOCITY</a> 2014</p></div>
                <div class="pull-right"><p><a href="http://ingeniocity.co">www.ingeniocity.co</a> | <a href="mailto:support@ingeniocity.co">support@ingeniocity.co</a></p></div>
            </footer>
        </div>
        <!--/.fluid-container-->
        <link href="vendors/uniform.default.css" rel="stylesheet" media="screen">
        <link href="vendors/chosen.min.css" rel="stylesheet" media="screen">

        <script src="vendors/jquery-1.9.1.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="vendors/jquery.uniform.min.js"></script>
        <script src="vendors/chosen.jquery.min.js"></script>

        <script src="vendors/wizard/jquery.bootstrap.wizard.min.js"></script>

	<script type="text/javascript" src="vendors/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="assets/form-validation.js"></script>
        
	<script src="assets/scripts.js"></script>
        <script>

	jQuery(document).ready(function() {   
	   FormValidation.init();
	});
	

        $(function() {
	    $(".uniform_on").uniform();

            $('#rootwizard').bootstrapWizard({onTabShow: function(tab, navigation, index) {
                var $total = navigation.find('li').length;
                var $current = index+1;
                var $percent = ($current/$total) * 100;
                $('#rootwizard').find('.bar').css({width:$percent+'%'});
                // If it's the last tab then hide the last button and show the finish instead
                if($current >= $total) {
                    $('#rootwizard').find('.pager .next').hide();
                    $('#rootwizard').find('.pager .finish').show();
                    $('#rootwizard').find('.pager .finish').removeClass('disabled');
                } else {
                    $('#rootwizard').find('.pager .next').show();
                    $('#rootwizard').find('.pager .finish').hide();
                }
            }});
	
            /*$('#rootwizard .finish').click(function() {
		  $('#finishWizardModal').modal({
			keyboard : false});
                //alert('Finished!, Starting over!');
                $('#rootwizard').find("a[href*='tab1']").trigger('click');
            });*/
 $('#rootwizard .finish').click(function() {
            console.log("after we enter finish button");
            var data = $("#formid").serialize();
            console.log("data is"+data);
             $.ajax({
               url : '/editSettings',
                type : 'POST',
                data:$("#formid").serialize()
            });
      $('#finishWizardModal').modal({
      keyboard : false});
                //alert('Finished!, Starting over!');
                $('#rootwizard').find("a[href*='tab1']").trigger('click');
            });
	


	    
        });
        </script>

{{/section}}
