{{#if flash}}
<div class="alert alert-dismissible alert-{{flash.type}}">
<button type="button" class="close"
data-dismiss="alert" aria-hidden="true">&times;<button>
<strong>{{flash.intro}}</strong> {{{flash.message}}}
</div>
{{/if}}
<div id="login" class="container">

	<form method="POST" class="form-signin">
		<h2 class="form-signin-heading">Please sign in</h2>

		{{#if ui}}
			<h3>{{{ui.message}}}</h3>
		{{/if}}
		<input type="text" class="input-block-level" name="email" placeholder="Email address">
		<input type="password" class="input-block-level" name="password" placeholder="Password">
		<label class="checkbox">
			<input type="checkbox" value="remember-me"> Remember me
		</label>
		<button class="btn btn-large btn-primary" type="submit">Sign in</button>
	</form>

</div> <!-- /container -->
<script src="vendors/jquery-1.9.1.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
